<div class="card mb-3">
  <img src="https://loremflickr.com/320/240/nature" class="card-img-top" alt="">

  <div class="card-body">
    <h5 class="card-title"><a href="#" class="text-reset">Card title</a></h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sequi at velit, laudantium dicta labore illo officiis repellendus commodi impedit. Quae, blanditiis qui voluptatem dolorum voluptatibus corrupti voluptate delectus obcaecati!</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>
