<app-title></app-title>
<div class="container">
  <div class="row">
    <div class="col-6">
      <app-big-card
        id="1"
        photoCover="https://s2-vogue.glbimg.com/2XlFECiZsG7NW68BOfu5yz4Vlto=/0x0:2500x1667/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_5dfbcf92c1a84b20a5da5024d398ff2f/internal_photos/bs/2023/0/n/2E6UQ4TbA5mbiVYTKrIQ/fata-morgana.jpg"
        cardTitle="6 exposições incríveis — e gratuitas — para visitar no fim de semana em SP"
        cardDescription="A capital paulista esta fervilhando com ótimas atrações culturais espalhadas por diferentes bairros da cidade"></app-big-card>
    </div>
    <div class="col-6">
      <app-small-card
        id="2"
        photoCover="https://s2-vogue.glbimg.com/CH7FzaMKRR4BMzhPhNa-YA_QES0=/0x0:1800x1200/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_5dfbcf92c1a84b20a5da5024d398ff2f/internal_photos/bs/2023/G/N/zKSFMRSiShANmMoqH5xQ/barbie-filme-4-.jpg"
        cardTitle="Barbie: do Chanel Vintage ao mood verão, confira os bastidores do figurino do filme"
        cardDescription="Figurinista do filme revela com exclusividade detalhes de como foi materializar todos os modelos da Barbie e do Ken"></app-small-card>

        <app-small-card
        id="3"
        photoCover="https://s2-vogue.glbimg.com/0b14JXT78rT9TFoa2tZ27FkvapM=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_5dfbcf92c1a84b20a5da5024d398ff2f/internal_photos/bs/2023/o/R/8hb81BSuenSngumZd5iA/snapinsta.app-348502933-629749878732387-4435736367959423548-n-1080.jpg"
        cardTitle="Filme da Barbie gerou escassez global de tinta rosa, segundo produtora do longa"
        cardDescription="Sarah Greenwood, designer de produção do filme, revela que uma tinta rosa de tom fluorescente foi usada em excesso na construção do cenário"></app-small-card> 
    </div>
  </div>
</div>
