<app-navbar></app-navbar>
<app-title></app-title>
<div class="container">
  <div class="row">
    <div class="col-6">
      <app-big-card
        photoCover="https://picsum.photos/200/140"
        cardTitle=""
        cardDescription=""></app-big-card>
    </div>
    <div class="col-6">
      <app-small-card
        photoCover="https://picsum.photos/200/180"
        cardTitle="teste"
        cardDescription="teste"></app-small-card>
      <app-small-card
        photoCover="https://picsum.photos/200/180"
        cardTitle="teste"
        cardDescription="teste"></app-small-card>
      <app-small-card
        photoCover="https://picsum.photos/200/180"
        cardTitle="teste"
        cardDescription="teste"></app-small-card>
    </div>
  </div>
</div>
